.app-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    /* Отступ от таймера */
    width: 90%;
    max-width: 400px;
}

.app-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.app-item:active {
    transform: scale(0.9);
    /* Эффект нажатия как на айфоне */
}

.app-icon {
    width: 65px;
    height: 65px;
    border-radius: 15px;
    background: linear-gradient(135deg, #4B0082, #800000);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.app-item span {
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
}

.app-item.hidden-app {
    display: none !important;
    /* Полностью скрываем до даты */
}

.app-item.locked-app {
    opacity: 0.3;
    filter: grayscale(1);
    pointer-events: none;
    /* Нельзя нажать */
}

/* =========НАСТРОЙКА ХЕДЕРА И КРЕСТИКА У ИГР=============*/

.game-header {
    display: flex;
    justify-content: flex-end; /* Выталкивает крестик вправо */
    padding: 10px;
    width: 100%;
}

.close-btn {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    line-height: 1;
    transition: transform 0.3s ease;
}

.close-btn:hover {
    transform: scale(1.2);
    color: #4B0082; /* Фиолетовый отблеск при наведении */
}