/* style/game-tetris.css */

#tetrisOverlay {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    /* Запрещает меню "Скопировать" */
}

.tetris-window {
    margin-top: -10px;
    /* Поднимаем выше */
    transform: scale(0.9);
    /* Легкий зум-аут для идеальной посадки на iPhone */
    background: #000;
    border: 1px solid rgba(128, 0, 0, 0.4);
    box-shadow: 0 0 30px rgba(75, 0, 130, 0.2);
    width: 300px;
    /* Тетрис уже змейки */
    padding: 15px;
    border-radius: 20px;
}

#tetrisCanvas {
    touch-action: none;
    background: #000;
    display: block;
    margin: 0 auto;
    border: 2px solid #1a0000;
    box-shadow: inset 0 0 10px rgba(128, 0, 0, 0.2);
}

.tetris-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #800000;
    text-transform: uppercase;
    font-size: 14px;
}

/* Эффект для блоков (применим в JS) */
.tetris-block-glow {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
}

#tetrisCanvas,
#nextCanvas {
    touch-action: none;
    /* Убивает системные жесты, оставляя только наши */
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}