@import "./reset.css";
@import "./fonts.css";
@import "./lock-secure.css";
@import "./event/style-valentine-day.css";
@import "./style-lock-timer.css";
@import "./style-timer.css";
@import "./progress-bar.css";

@import "./app-games.css";
@import "./game-snake.css";
@import "./game-tetris.css";

/* --------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #242424;
    /* Твой основной фон */
}
/* Тест приложений */
.app-item {
    display: flex !important;
    opacity: 1 !important;
    filter: none !important;
    pointer-events: auto !important;
}
#main-content {
    opacity: 1 !important;
}
/* ============== */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Растягиваем на весь экран */
    width: 100%;
    transition: opacity 0.8s ease, filter 0.8s ease;
}

.lock-overlay {
    position: fixed;
    /* Чтобы не зависел от прокрутки */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    /* Выше всех таймеров и прогресс-баров */
    background: linear-gradient(135deg, #000000 20%, #4a0404 50%, #240046 100%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease;
}

.unlocked {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /* Чтобы не мешал нажимать на кнопки после исчезновения */
}

/* Блокируем системный отскок и обновление на всем сайте */
html, body {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: none !important; /* Убивает Pull-to-Refresh */
    -webkit-overflow-scrolling: touch;
}