/* ТЕМА: 14 ФЕВРАЛЯ (КРАСНЫЙ НЕОН) */
.theme-valentines .timer__item,
.theme-valentines .placeholder__text {
    background-image: linear-gradient(90deg, #4d0000, #ff0000, #ff7b00, #4d0000) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-size: 200% auto !important;
    display: inline-block;
    animation: gradient-move 5s linear infinite !important;
}

/* Падающие сердца */
.theme-valentines .heart {
    position: fixed; top: -50px; font-size: 24px; z-index: 9999;
    user-select: none; pointer-events: none;
    animation: fall linear forwards;
}
@keyframes fall { to { transform: translateY(110vh) rotate(360deg); } }
@keyframes gradient-move { 0% { background-position: 0% center; } 100% { background-position: 200% center; } }
